@import url(https://fonts.googleapis.com/css?family=Rubik:400,500);
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Rubik', Verdana, sans-serif;
  padding: 10px;
  background-color: black;
  color: white;
}

a {
  color: #ccc;
}

a:visited {
  color: #666;
}

.replies {
  margin-left: 50px;
}

.reply {
  border: 1px dotted white;
  margin: 5px;
  padding: 5px;
}

.newReply {
  margin: 10px 5px 10px 5px;
}

.thread {
  border: 2px solid white;
  padding: 5px;
  margin-bottom: 5px;
}

.id {
  font-size: 10.5px;
}

#submitNewThread {
  margin: 50px;
}